<div class="max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl w-full bg-white rounded-lg shadow-md p-8">
  <h2 class="text-3xl font-bold text-gray-800 text-center mb-4">Embed Code</h2>
  <p class="text-gray-600 text-center mb-6">
    Copy the following code snippet and embed it into your HTML page.
  </p>

  <div
    class="bg-gray-100 border border-gray-300 rounded-lg p-4 overflow-x-auto"
  >
    <pre><code class="text-base text-gray-800 whitespace-pre-wrap">{{ htmlIFrame }}</code></pre>
  </div>

  <button
    (click)="copyClipboard()"
    class="mt-6 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
  >
    Copy Code to Clipboard
  </button>
</div>
