<style>
  header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
</style>
<script src="assets/player.js"></script>
<header>
  <h1>Bienvenue sur notre site bidon</h1>
</header>
<main>
  <section>
    <h2>à propos de nous</h2>
    <div style="display: flex; justify-content: center; width: 100%"></div>
    <p>
      Nous sommes une entreprise fictive dédiée à fournir des services de la plus haute qualité.
    </p>
    <div id="vertical-player" data-video-id="02aa0f43-ce9a-4fcb-a543-b435cec2ff78"></div>
  </section>
</main>
